@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 35, 63;
  --background-rgb: 243, 243, 243;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 243, 243, 243;
    --background-rgb: 0, 35, 63;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
